* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color:black;
    font-family: 'Montserrat', sans-serif;
    
    
   }

.navigation {
  display: flex;
  background:transparent;   
  height:50px;
  z-index:11;
  position:fixed;
  top:0;
  left:0;
  width:100%;  
  transition:all .2s ;  
  padding: 5px 0 ;
}
.navigation > div {
    width:1200px;
    margin:0 auto;
    padding:0 0 0 10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.links {
    display:flex;
    align-items:center;
}
.links > button {
    background-color:#ffbe0b;
    font-size:1rem;
    font-weight: 600;
    color:black;
    
}
.menu {
    display:flex;
    justify-content: center;
    align-items: center;
}

.menu .home {
    color:#ffbe0b;
}
.logo{
    height:27px;
}
.menu li {
    color:white;
    padding:1rem;
    font-style:light;
}
a:hover {
    color:#ffbe0b;
}

a {
    color:White;
}
.section-container {
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://templatekit.jegtheme.com/burgry/wp-content/uploads/sites/132/2021/07/dark-wooden-background-with-flour-dust.jpg);
    position:relative;
    margin-top:-50px;
    padding-top:10rem;
}

.section-container:after {
    content:"";
    display:inline-block;
    width:100%;
    height:100vh;
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(rgba(0, 0, 0, 0.822) , black);
}
.firstContent {
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color:blue; */
    z-index:10;
}

.firstContent img {
    width:500px;    
}
@keyframes shake {
    0% {transform : translateY(-3px)}
    50% {transform : translateY(3px)}
    100% {transform : translateY(-3px)}
}
.firstContent img:hover {
    animation:shake 3s ease-out infinite;
}
.secondContent {
    /* background-color: red; */
    height:50%;
    width:600px;
    z-index:10;
}
.header2 {
    color:white;
    text-transform: uppercase;
    font-weight:900;
    font-size: 3rem;
      
}





span {
    border-bottom: 0.3rem solid #fca311;
    padding-bottom:1rem;
}
.info1 {
    margin:3rem 0 ;
    color:#b9b9b9;

}
.section-container2 {
    height:50vh;
    /* background-color:red; */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}

.box1 , .box2 {
    width:1100px;
    height:300px;
    /* background-color:blue; */
}

.box1 {
    margin-top:5rem ;
    display:flex;
    justify-content: space-between;       
    align-items: center;
    height:115px;
    
}

.box1 .card {
    width:350px;
    height:115px;
    background-color:black;
    border-radius:10px;
    display:flex;
    align-items: center;
    padding-top:1rem;    
    
}

.box1 .card h3 {
    color:white;
    font-size:1.5rem;
    font-weight: 800;
}

.box1 .card p {
    color:white;
    font-size:1rem;
    font-weight: 400;
}
.box1 .card .miniFoto img  {
    background-position: -40px 9px;
    background-repeat: no-repeat;
    background-size: cover;    
    height:100px;
  
}

.box1 .card .miniFoto img:hover  {
    animation:shake 3s ease-out infinite;
}

.box1 .card:nth-child(1) {
    background-color:#FFBA00;
  
}

.box1 .card:nth-child(2) {
    background-color:#007936;
}
.box1 .card:nth-child(3) {
    background-color:#CC3433;
}

.box2 {
    margin-top:4rem;
    display:flex;
    justify-content: center;

}

.box2 .card2 {
   
    display:flex;
    margin: 0 1rem;
    width: 500px;
    height:250px;
    background-color:#171717;
    border-radius:10px;
    
}

.content1 {
    display:flex;
}
.promo {
    display:flex;
    justify-content: flex-start;    
    flex-direction: column;
}
.promo .yellow  {
    padding-top : 3rem;
    padding-left : 1rem;
}
.promo .yellow {
    color:#FFBA00;
    font-weight: bold;
}

.promo  h2 {
    color:White;
    padding-top : 2rem;
    padding-left : 1rem;
}

.promo p {
    padding-top : 1rem;
    padding-left : 1rem;
    color:#b9b9b9;
}

.promoFoto {
    padding-top:1rem;
    height:210px;
}

.promoFoto:hover {
    animation:shake 3s ease-out infinite;
}
.best-container {
    margin-top : 5rem; 
    height: 100vh;
}
.post1 {
    display:flex;
    align-items: center;
    flex-direction: column;
}

.best-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 50vh;
    max-height: auto; */
    height:auto;
}
.bigContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 55vw;
    margin:2rem;
    
}
.header1 {
    color:white;
    font-weight: 900;
    font-size:2.5rem;
    margin-bottom:1rem;
}


.para {
    color:white;
    margin-top:2rem;
}
.hamburgerBoxMenu {
    width:250px;
}
.hamburgerBoxMenu h3 , p {
    color:white;
    margin:1rem 0;
 }
 .price {
     color:#fca311;
     font-weight: 700;
 }
.imageBox {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#171717;
    width : 220px;
    height:220px;
    border-radius: 15px;
    overflow: hidden;
}
.menuimg {
    height:150px;
    transition:all .3s;
}




.imageBox:hover {
    background-color:#fca311;
}

.imageBox .menuimg:hover{
    transform:scale(1.1);
}

.sub-container  {
    padding-top:3rem;
    padding-bottom:2rem;
    width: 99vw;
    background-color:#FFBA00;
    display:flex;
    justify-content: center;
    
}
.gelismeler-container > h1 {
    font-size:2rem;
}


.gelismeler-container {
    width:550px;
}
.input {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:2rem;
}

input {
    border-radius:10px;
    width:350px;
    height:35px;
}
button {
    margin:0 1rem;
    background-color:black;
    color:White;
    width:125px;
    height:40px;
    border-radius:25px;
}
.lastSocial-container {
    display:flex;
    justify-content: center;
    align-items: center;
}
.lastSocial {
    display:flex;
    justify-content:flex-start;
    width:70%;
    height:200px;
    /* background-color:#e83939; */
}
.support {
    padding-left:1rem;
    padding-top:2rem;
    max-width: 250px;;
}
.support img {
    width:150px;
}
.contact {
    padding-top:2rem;
    padding-left:3rem;
    padding-bottom:3rem;
}
.contact h4 {
 font-weight: 700;
 font-size:1.5rem;
 color:white;
}


